<%= form_for note do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, required: true %>

    <%= f.label :content %>
    <%= f.text_field :content %>

    <div class="field">
    <%= f.label :tag_id %><br />
    <%= collection_check_boxes(:note, :tags, @tags, :id, :name) %> 
    </div>    

    <%= f.submit "Submit" %>
<% end %>